<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Curve Point</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/validate}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<div>
				<label for="curveId">Curve Id</label>
				<div>
					<input type="text" th:field="*{curveId}" id="curveId" placeholder="CurveId">
					<span th:if="${#fields.hasErrors('curveId')}" th:errors="*{curveId}"></span>
				</div>
			</div>
			<div>
				<label for="term">Term</label>
				<div>
					<input type="text" th:field="*{term}" id="term" placeholder="Term"/>
					<span th:if="${#fields.hasErrors('term')}" th:errors="*{term}"></span>
				</div>
			</div>
			<div>
				<label for="value">Value</label>
				<div>
					<input type="text" th:field="*{value}" id="value" placeholder="Value"/>
					<span th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></span>
				</div>
			</div>
			<div>
				<a href="/curvePoint/list">Cancel</a>
				<input type="submit" value="New Curve Point">
			</div>
		</form>
	</div>

</div>
</body>
</html>