<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update Bid</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/bidList/update/{id}(id=${bidList.bidListId})}" th:object="${bidList}" method="post" class="form-horizontal" style="width: 100%">
			<div class="form-group">
				<label for="account" th:text="#{bidList.account}">Account</label>
				<div>
					<input type="text" th:field="*{account}" id="account" placeholder="Account" th:class="${#fields.hasErrors('account')} ? fieldError"/>
				</div>
			</div>
			<div class="form-group">
				<label for="type" th:text="#{bidList.type}">Type</label>
				<div>
					<input type="text" th:field="*{type}" id="type" placeholder="Type" th:class="${#fields.hasErrors('type')} ? fieldError"/>
				</div>
			</div>
			<div class="form-group">
				<label for="bidQuantity" th:text="#{bidList.bidQuantity}">Bid Quantity</label>
				<div>
					<input type="number" th:field="*{bidQuantity}" id="bidQuantity" placeholder="BidQuantity" th:class="${#fields.hasErrors('bidQuantity')} ? fieldError"/>
				</div>
			</div>
		</form>
		<div>
			<a href="/bidList/list" class="btn btn-primary btn-danger" th:text="#{ui.cancel}">Cancel</a>
			<button class="btn btn-primary btn-sm" type="submit" th:value="#{ui.update}">Update</button>
		</div>
		</form>
	</div>

</div>
</body>
</html>